
<%= link_to 'sign_out', destroy_user_session_path, :method => :delete %>

<% current = nil %>
<% @github.get_user_folders.each do |folder| %>
  <% if current != folder['owner']['login'] %>
  <hr>
    <% current = folder['owner']['login'] %>
    <%= current %>
    <hr>
  <% end %>
  <p><%= folder['full_name'] %></p>
<% end %>